# Core functionality - changes here should be rare!
/src/app.py                   @OrtegaAeron
/src/backend/database.py      @OrtegaAeron
/src/backend/routers/auth.py  @OrtegaAeron

# The frontend will need refactored soon to be more object oriented.
/src/static/   @OrtegaAeron
